<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppsCatalog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08C6C36D1CF0DD9C00D4F36C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08C6C3841CF0DD9C00D4F36C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08C6C38F1CF0DD9C00D4F36C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
